<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>CONG TY NUOC ABC</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<script th:inline="javascript">
		/*<![CDATA[*/
		var config=/*[[${config}]]*/ null;
		/*]]>*/
		function printConfig(){
			document.getElementById("demo").innerHTML=config.toString();
		}
		function getFirstValue(){

		}
	</script>
</head>
<body>
<p id="demo" onclick="printConfig()">aaaa</p>
<form method="post"  action="/api/v1/configuration/configB" th:object="${config}">
	
	<div  th:each="level,stat : *{levelList}" >
	<label>Bậc:</label>
	<input type="text" style="width:30px" readonly="readonly"  th:value="${stat.count}" th:field="*{levelList[__${stat.index}__].id}">
	<label>Giá trị đầu</label>
	<!--<input type="text"  th:value= "${level.firstValue}" th:field="*{levelList[__${stat.index}__].firstValue}">--> <!--th:field="${levelList[__${stat.index}__].firstValue}"-->
	<label>Giá trị cuối</label>
	<input type="text"  th:value="${level.maxValue}" th:field="*{levelList[__${stat.index}__].maxValue}">
	<label>Giá(đồng/m3)</label>
	<input  type="text" th:value="${level.price}" th:field="*{levelList[__${stat.index}__].price}">
	</div>
	 
	<input type="submit" value="Lưu">
	<input type="submit" formaction="/api/v1/configuration/configB2" value="Xóa bậc">
	<input type="submit" formaction="/api/v1/configuration/configB3" value="Thêm bậc">
	
</form>
</body>
</html>
